@charset "UTF-8";

.layer{
  /* 背景画像設定 */
  background: url(./background10.jpg) no-repeat 0 0;
  background-size: 180%;
  /* ボックス配置指定 */
  position: relative;
  margin: 0 auto;
  text-align: center;
  /* ボックスサイズ指定 */
  width: 1000px;
  height: 600px;
  border: 2px solid #000;
  transition: box-shadow 0.3s ease-in-out;
}

/* 重ねるボックスの設定1 */
.stage1{
  /* ボックス配置指定 */
  position: absolute;
  top: 10px;
  left:600px;
  /*transition: box-shadow 0.3s ease-in-out;*/
}

/* 重ねるボックスの設定 */
.stage2{
  /* ボックス配置指定 */
  position: absolute;
  top: 200px;
  left:100px;
  /* transition: box-shadow 0.3s ease-in-out; */
}

/* 重ねるボックスの設定 */
.stage3{
  /* ボックス配置指定 */
  position: absolute;
  top: 200px;
  left:700px;
  /*transition: box-shadow 0.3s ease-in-out;*/
}

/* 重ねるボックスの設定 */
.stage4{
  /* ボックス配置指定 */
  position: absolute;
  top: 400px;
  left:400px;
  /*transition: box-shadow 0.3s ease-in-out;*/
}

/* 重ねるボックスの設定 */
.stage5{
  /* ボックス配置指定 */
  position: absolute;
  top: 180px;
  left:350px;
  /*transition: box-shadow 0.3s ease-in-out;*/
}

/*ステージ1の基本設定 */
.stage1-img{
  width: 200px;
  height: 150px;
  transition: box-shadow 0.3s ease-in-out;
}

/*ステージ２の基本設定 */
.stage2-img{
  width: 200px;
  height: 150px;
  transition: box-shadow 0.3s ease-in-out;
}

/*ステージ3の基本設定 */
.stage3-img{
  width: 200px;
  height: 150px;
  transition: box-shadow 0.3s ease-in-out;
}

/*ステージ4の基本設定 */
.stage4-img{
  width: 202px;
  height: 150px;
  transition: box-shadow 0.3s ease-in-out;
}

/*ステージ5の基本設定 */
.stage5-img{
  width: 300px;
  height: 200px;
  transition: box-shadow 0.3s ease-in-out;
}

.stage1-img:hover, .stage2-img:hover, .stage3-img:hover, .stage4-img:hover, .stage5-img:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7);
}


.textbox {
    position: absolute;
    width: 30%; /* テキストボックスの幅 */
    height: 100px; /* テキストボックスの高さ */
    top: 70%;
    left: 65%;
    transform: translate(0%, 0%); /* 中央に配置 */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* テキストボックスの境界線 */
}
.textbox #message-display {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2.0s steps(20);

}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

